= simple_form_for @post do |f|
  = f.error_notification
  = f.input :conteudo, label: 'O que você está pensando?'
  = f.button :submit, class: "btn btn-primary"
  = f.button :button, "Cancel", type: "reset", class: "btn btn-outline-secondary", label: 'Cancelar'
